fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
requests==2.32.3
numpy==2.1.1
pandas==2.2.2
scikit-learn==1.5.2
prometheus-api-client==0.5.5
kubernetes==30.1.0
python-json-logger==2.0.7
joblib==1.4.2
podman>=4.8,<6
